<html>
<head>
    <title>BTree Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>Search the B-Trees</header>

    <div class="content">
        <form method="POST">
            <label for="tree_name">Tree:</label>
            <select name="tree_name">
                {% for tree in trees %}
                    <option value="{{ tree }}" {% if tree == selected_tree %}selected{% endif %}>{{ tree }}</option>
                {% endfor %}
            </select>
            <h4>Exact Match Search</h4>
            <input type="text" name="query" placeholder="Enter full key...">
            <h4>Range Search</h4>
            <input type="text" name="range_start" placeholder="Start key">
            <input type="text" name="range_end" placeholder="End key">
            <h4>Starts With Search </h4>
            <input type="text" name="start" placeholder="Starts with...">
            <br>
            <button type="submit">Search</button>
        </form>


        {% if result %}
            {% if visits is not none and comparisons is not none %}
                <p><strong>Node Visits:</strong> {{ visits }} | <strong>Comparisons:</strong> {{ comparisons }}</p>
            {% endif %}
            <div class="result-box">
                <h2>Results</h2>
                {% if result is string %}
                    <p>{{ result }}</p>
                {% else %}
                    <table border="1">
                        <tr>
                            {% for key in result[0].keys() %}
                                <th>{{ key }}</th>
                            {% endfor %}
                        </tr>
                        {% for row in result %}
                            <tr>
                                {% for val in row.values() %}
                                    <td>{{ val }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>
        {% endif %}
    </div>
</body>
</html>